@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    /* Biztosítjuk a meleg tónusú, otthonos hátteret az egész alkalmazásban */
    background-color: #E1D4C2; 
    color: #291C0E;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  }
}

/* Egyedi görgetősáv (scrollbar) az otthonosabb megjelenésért */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #E1D4C2; 
}
::-webkit-scrollbar-thumb {
  background: #A78D78; 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #6E473B; 
}